## Ignore Visual Studio temporary files, build results, etc.
bin/
obj/
*.user
*.suo
*.cache
*.dbmdl
*.dbml
*.log
*.tmp
*.tmp_proj
*.vs/
*.vsss
*.pidb
*.psess
*.sln.docstates
*.vcxproj.filters
*.vcxproj.user
packages/
*.nupkg
*.mono
*.pid
project.lock.json
*.dll
*.exe
*.pdb
*.baml
*.resources
*.deps.json
*.runtimeconfig.json
*.runtimeconfig.dev.json
*.cache